.fotoPerfil {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    float: left;
}

.description {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    float: left;
    align-content: flex-end;

}

.link {
    text-decoration: none;  /*no funciona*/
}

.image-home {
   background-size: cover;
}